.​conditional {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(113, 88, 146);
    margin: 0;
    position: absolute;
    flex: 1 0 auto;
    // justify-content: center;
    // justify-items: center;
    // align-items: center;
    font-size: 100px;
    text-align: center;
    color: rgb(112, 196, 130);
    text-shadow: 10px 10px 10px #000000;
  
  }
  