// .header-search{
//    width: 100%;
//    min-height: 100px;
//    background-color: red; 
// }
.header-input {
   width: 100%;
   min-height: 50px;
   padding-left: 40px;
   background-color: red; 
   font-size: 45px; 
   color:#fff;
}