.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 127, 127, 1);
    border-radius: 15px;
    padding: 20px;
  }
  .inputsWrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 127, 127, 1);
    border-radius: 15px;
    padding: 20px;
    
  }